[Unit]
Description=Christmas Lights Webserver

[Service]
User=root
WorkingDirectory=/home/pi/xmas
ExecStart=/bin/bash -lc 'uvicorn apiserver:app --host 0.0.0.0 --port 5000'
Restart=always
KillMode=mixed
TimeoutStopSec=5
StandardInput=null
StandardOutput=append:/var/log/lightsserver.log
StandardError=append:/var/log/lightsserver.err

[Install]
WantedBy=multi-user.target
