[Unit]
Description=Christmas Lights Activator

[Service]
User=pi
WorkingDirectory=/home/pi/xmas
ExecStart=/bin/bash -lc 'python3 chaser.py'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
