[Unit]
Description=Christmas Lights Activator
After=worker.service

[Service]
User=pi
WorkingDirectory=/home/pi/xmas
ExecStart=/bin/bash -lc 'python3 chaser.py'
Restart=always
KillMode=mixed
TimeoutStopSec=5
StandardInput=null
StandardOutput=append:/var/log/chaser.log
StandardError=append:/var/log/chaser.err

[Install]
WantedBy=multi-user.target
