[Unit]
Description=Christmas Lights Webserver

[Service]
User=root
WorkingDirectory=/home/pi/xmas
ExecStart=/bin/bash -lc 'python3 webserver.py'
Restart=always
StandardInput=null
StandardOutput=syslog
StandardError=syslog
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
